.titulo{
    color: whitesmoke;
}
.segundo {
    color: whitesmoke;
}
.tercero {
    color: whitesmoke;
}
body{
    background-color: black;
    font-family: Georgia, 'Times New Roman', Times, seri
    
    
}